html {
    height: 100%;
    background-color: white;
}

body {
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background: #92b93e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#385468, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#385468, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#385468, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#385468, white); /* Standard syntax */
}

.wrapper {
	background-color: white;
}

.logo {
	/*position: absolute;*/
	display: inline-block;
	width: 200px;
	height: 120px;
	background: url("../images/viajes_galipan_logo.png") 0% 0% / contain no-repeat;
}

.menu {
	position: relative;
	float: right;
	top: -100px;
	/*left: 60%;	*/
}

.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li .fa-li {
    position: static;
}

.menu li a {
	display: inline-block;
    width: auto;
}

.titulo {
	/*position: relative;
	display: block;
	top: 20px;
	left: 200px;*/
	color: #92b93e;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.page-header {
	border: none;
}